h3{
background-color: aqua;
margin-top: 0;
color: darkblue;
padding: 10px;
}
body{
background-image: url("background.jpg");
background-size:contain;
background-position: center;
}
#note{
font-size: 15px;
color:black;
}
.div_speed img{
height: 250px;
width: 250px;
border-radius: 100px;
}
.div_speed{
    position: absolute;
    left: 0px;
}
.div_volume img{
    height: 250px;
    width: 250px;
    border-radius: 100px;
}
    .div_volume{
        position: absolute;
        right: 0px;
    }
    #playmusic{
    height: 50px;
    width: 200px;
    font-family: cursive;
    background-color: lawngreen;
    }
    #stopmusic{
        height: 50px;
        width: 200px;
        font-family: cursive;
        background-color: rgb(252, 0, 0);
        }
    canvas{
    border: 5px ridge white;
    border-radius: 100px;
    }